<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aledev webpage</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_navbar.css') }}?v=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_about.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_fade.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_home.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_projects.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap">
    </head>    
<body>
    <div class="navbar_container">
        <nav class="sidebar">
            <!-- First block for main links -->
            <div class="main-links">
                <ul>
                    <li><a href="{{ url_for('home') }}">
                        <img src="{{ url_for('static', filename='img/amagno.png') }}" alt="Home" style="width: 150px; height: auto; margin-top: -20px;">
                    </a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="https://drive.google.com/file/d/1LxU5tip5FLF6RCzSX8JDhfIFzgS0vDyl/view" target="_blank">CV</a></li>
                    <li><a href="https://github.com/mysthogann" target="_blank">GitHub</a></li>
                </ul>
            </div>
            <hr>
            <!-- Second block for Projects Dropdown -->
            <div class="projects-section">
                <h3>Projects</h3>
                <ul>
                    <li><a href="{{ url_for('lsi') }}">Liceo San Isidro</a></li>
                    <li><a href="{{ url_for('pixelFighters') }}">Pixel Fighters</a></li>
                </ul>
            </div>
            <hr>
            <!-- Third block for Contact Dropdown -->
            <div class="contact-section">
                <h3>Contact</h3>
                <ul>
                    <li><a href="mailto:chvbale15@gmail.com">Email</a></li>
                    <li><a href="https://linkedin.com/in/alejandrochavarriaba/?locale=en_US" target="_blank">LinkedIn</a></li>
                </ul>
            </div>
        </nav>
        <main class="content">
            <!-- This is where the Flask content will be inserted -->
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <footer>
        <p>&copy; 2024 Alejandro Chavarria Badilla</p>
    </footer>
</body>
</html>
