{% extends 'base.html' %}

{% block content %}
<div class="home-section fade-in">
    <p class="greeting gradient-text">
        Hello there, / ¡Hola!
    </p>
    <p class="intro-description gradient-text">
        Alejandro is a software developer, graduated from Universidad Latina de Costa Rica. With a passion for building efficient, scalable applications, he specializes in full-stack development, Python, Java, and SQL, among other technologies. Alejandro has a strong background in freelance work, internships, and collaboration with teams to deliver quality software solutions.
    </p>
</div>
{% endblock %}
