{% extends 'base.html' %}

{% block content %}
<div class="project-section fade-in">
    <!-- Clickable Image -->
    <a href="https://liceosanisidro.org/" target="_blank">
        <img src="{{ url_for('static', filename='img/liceosanisidro.png') }}" alt="Liceo San Isidro">
    </a>

    <h1 class="project-title">Liceo San Isidro Webpage</h1>
    <p class="project-subtitle">Webpage for the Liceo of San Isidro</p>
    
    <div class="project-description">
        <p>
            At the end of 2023, I had the task to update the webpage of Liceo San Isidro, which wasn’t looking good at all. 
            I completely redesigned it with a new format, added new sections, and made sure it aligned with modern web standards.
        </p>
    </div>

    <!-- Project Details -->
    <div class="project-details">
        <div class="project-detail-item">
            <strong>Timeline</strong>
            <p>September 2023 - November 2023</p>
        </div>
        <div class="project-detail-item">
            <strong>Role</strong>
            <p>Web Developer</p>
        </div>
        <div class="project-detail-item">
            <strong>Tools</strong>
            <p>WordPress, Elementor</p>
        </div>
    </div>
</div>
{% endblock %}
