* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply Inter font family globally */
body {
    font-family: 'Inter', sans-serif;
    font-weight: 300; /* Light weight for body text */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f8f8;
}

h1, h2, h3, p {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: 700; /* Bold for H1 */
    font-size: 3em;   /* Adjust as needed */
}

h2 {
    font-weight: 600;
    font-size: 2.5em;
}

h3 {
    font-weight: 500;
    font-size: 2em;
}

p {
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.6;
}

.gradient-text {
    font-weight: 700;
}

.navbar_container {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    width: 240px;
    background-color: #fafafa;
    color: #333333;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid #e6e6e6;
    min-height: 100vh; 
    flex-shrink: 0;
}

.main-links,
.contact-section {
    margin-bottom: 20px;
    margin-top: 10px;
}

.projects-section {
    margin-top: 10px;
    margin-bottom: 20px;
}

.main-links ul,
.projects-section ul,
.contact-section ul {
    list-style-type: none;
    padding: 0;
}

.main-links ul li,
.projects-section ul li,
.contact-section ul li {
    margin-bottom: 20px;
}

/* Main Links (About, CV, GitHub) */
.main-links ul li a {
    color: #333333;
    text-decoration: none;
    display: block;
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.main-links ul li a:hover {
    color: #555555;
    transition: color 0.3s;
}

/* Projects and Contact Headers */
.projects-section h3,
.contact-section h3 {
    font-weight: 600;
    font-size: 1.1em;
    color: #999999;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 10px;
}

.projects-section:hover h3,
.contact-section:hover h3 {
    color: #777777;
    transition: color 0.3s;
}

/* Dropdown Lists */
.projects-section ul li a,
.contact-section ul li a {
    color: #333333;
    text-decoration: none;
    display: block;
    font-size: 1.09em;
    font-weight: 300;
    letter-spacing: 0.05em;
    padding: 8px 0 8px 10px;
}

.projects-section ul li a:hover,
.contact-section ul li a:hover {
    color: #555555;
    transition: color 0.3s;
}

/* Hover-based Dropdown */
.projects-section ul,
.contact-section ul {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-10px);
    transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
}

.projects-section:hover ul,
.contact-section:hover ul {
    max-height: 300px;
    opacity: 1;
    transform: translateY(0);
}

.sidebar hr {
    border: 1px solid #e6e6e6;
    margin: 0px -50px 20px -50px;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f9f9f9;
    overflow-y: auto;
}

footer {
    background-color: #f9f9f9;
    color: #333333;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e6e6e6;
    margin-top: auto;
}

img {
    max-width: 100%;
    height: auto;
}
