/* Timeline on about page */
.timeline {
    position: relative;
    margin: 50px 0;
    padding: 0;
    list-style: none;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 10px; /* Move the line further left */
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #dcdcdc; /* Line Color */;
}

.timeline-item {
    margin: 0;
    padding: 30px 0;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.timeline-item .timeline-date {
    width: 160px; /* Increase width slightly for better alignment */
    text-align: right;
    font-weight: 600;
    color: #555;
    font-size: 1em;
    margin: 40px 0 0 30px;
}

.timeline-item .timeline-content {
    background-color: #fdfdfd;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    width: calc(100% - 170px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ebebeb;
    margin-left: 50px; /* Add left margin to space the content from the timeline line */
}

.timeline-item .timeline-content h3 {
    margin-top: 0;
    font-size: 1.3em;
    font-weight: 600;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -0.9px; /* Align the ball perfectly with the line */
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background-color: #838383;
    border-radius: 50%;
    border: 4px solid #dcdcdc;
}

.timeline-item a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.95em;
}

.timeline-item a:hover {
    text-decoration: underline;
}

.timeline-item .timeline-content p {
    margin-bottom: 10px;
    line-height: 1.6;
}

.timeline-item:last-child {
    padding-bottom: 50px;
}

.about-section h2 {
    margin-top: 40px;
    font-size: 1.5em;
    font-weight: 600;
    color: #333;
}
